*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(153, 0, 255);
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 300px;
    height: 545px;
    border-radius: 12px;
}
.login{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.877);
    color: rgb(0, 0, 0);
    border-radius: 8px;
}

.login>p{
    text-align: left;
    margin-left: 15px;
    font-weight: 600;
}
img{
    width: 300px;
    height: 250px;
    border-radius: 10px 10px 0 0;
}

.fundo{
    background-color: rgb(153, 0, 255);
    display: inline;
    border-radius: 8px;
    border: 5px solid rgb(153, 0, 255); 
    border-right: none;
}

input{

    height: 35px;
    width: 250px;
    margin-bottom: 5px;
    border: 2px solid  rgb(153, 0, 255);
    border-radius: 8px;
}